<!-- <div ng-repeat="ship in ships.ships" class="square" >
    <div class="content" >
        <a class="table-cell" ng-href="#/ships/{{ship.id}}">
			<div style="'background-image': ships.ship.image"></div>
        </a>
    </div>
    <div class="ship-label">{{ships.ship.name}}</div>
</div> -->
<div ng-repeat="ship in ships.ships">
    <a class="square" ng-href="#/ships/{{ship.id}}" style="background-image: url({{ship.image}})">
        <div class="square ship-label">{{ship.name}}</div>
    </a>

</div>
